<tr>
  <td><%= program.title %></td>
  <td class="date"><%= program.decorate.application_start_time %></td>
  <td class="date"><%= program.decorate.application_end_time %></td>
  <td class="numeric"><%= program.decorate.min_number_of_participants %></td>
  <td class="numeric"><%= program.decorate.max_number_of_participants %></td>
  <td class="numeric"><%= program.decorate.number_of_applicants %></td>
  <td><%= program.decorate.registrant %></td>
  <td class="actions">
    <%= link_to "詳細", [ :staff, program ] %> |
    <%= link_to "編集", [ :edit, :staff, program ] %> |
    <%= link_to "削除", [ :staff, program ],
      data: { turbo_confirm: "本当に削除しますか？ ", turbo_method: :delete } %>
  </td>
</tr>